<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Custome Helpers </h1>
    <li>{{calculation 10}}</li>
    <p>{{#strong}} Practicing Helper Funtion {{/strong}}</p>
    
</body>
</html>